<!DOCTYPE HTML>
<html>
<head>
    <title>OCR</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}"/>
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css') }}"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Panel (Banner) -->
        <section class="panel banner right">
            <div class="content color0 span-3-75">
                <h1 class="major">识别结果</h1>
                <p>这里是识别结果</p>
                <ul class="actions">
                    <li><a href="#first" class="button primary color1 circle icon fa-angle-right">Next</a></li>
                </ul>
            </div>
            <div class="image filtered span-1-75" data-position="25% 25%">
                <img src="{{ url_for('static',filename='images/pic01.jpg') }}" alt=""/>
            </div>
        </section>
        <!-- Panel -->
        <section class="panel color2-alt" id="first">
            <div class="inner columns aligned">
                <div class="span-3">
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>{{ check[0] }}</th>
                                <th>{{ result[0] }}</th>
                                <th>{{ unit[0] }}</th>
                                <th>{{ ref[0] }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ check[1] }}</td>

                                <td>{{ result[1] }}</td>

                                <td>{{ unit[1] }}</td>
                                <td>{{ ref[1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[2] }}</td>

                                <td>{{ result[2] }}</td>

                                <td>{{ unit[2] }}</td>
                                <td>{{ ref[2] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[3] }}</td>

                                <td>{{ result[3] }}</td>

                                <td>{{ unit[3] }}</td>
                                <td>{{ ref[3] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[4] }}</td>

                                <td>{{ result[4] }}</td>

                                <td>{{ unit[4] }}</td>
                                <td>{{ ref[4] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[5] }}</td>

                                <td>{{ result[5] }}</td>

                                <td>{{ unit[5] }}</td>
                                <td>{{ ref[5] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[6] }}</td>

                                <td>{{ result[6] }}</td>

                                <td>{{ unit[6] }}</td>
                                <td>{{ ref[6] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[7] }}</td>

                                <td>{{ result[7] }}</td>

                                <td>{{ unit[7] }}</td>
                                <td>{{ ref[7] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[8] }}</td>

                                <td>{{ result[8] }}</td>

                                <td>{{ unit[8] }}</td>
                                <td>{{ ref[8] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- Panel -->
        <section class="panel color2-alt" id="first">
            <div class="inner columns aligned">
                <div class="span-3">
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>{{ check[0] }}</th>
                                <th>{{ result[0] }}</th>
                                <th>{{ unit[0] }}</th>
                                <th>{{ ref[0] }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ check[9] }}</td>

                                <td>{{ result[9] }}</td>

                                <td>{{ unit[9] }}</td>
                                <td>{{ ref[9] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[10] }}</td>

                                <td>{{ result[10] }}</td>

                                <td>{{ unit[10] }}</td>
                                <td>{{ ref[10] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[11] }}</td>

                                <td>{{ result[11] }}</td>

                                <td>{{ unit[11] }}</td>
                                <td>{{ ref[11] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[13] }}</td>

                                <td>{{ result[13] }}</td>

                                <td>{{ unit[13] }}</td>
                                <td>{{ ref[13] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[14] }}</td>

                                <td>{{ result[14] }}</td>

                                <td>{{ unit[14] }}</td>
                                <td>{{ ref[14] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[15] }}</td>

                                <td>{{ result[15] }}</td>

                                <td>{{ unit[15] }}</td>
                                <td>{{ ref[15] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[16] }}</td>

                                <td>{{ result[16] }}</td>

                                <td>{{ unit[16] }}</td>
                                <td>{{ ref[16] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[17] }}</td>

                                <td>{{ result[17] }}</td>

                                <td>{{ unit[17] }}</td>
                                <td>{{ ref[17] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- Panel -->
        <section class="panel color2-alt" id="first">
            <div class="inner columns aligned">
                <div class="span-3">
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>{{ check[0] }}</th>
                                <th>{{ result[0] }}</th>
                                <th>{{ unit[0] }}</th>
                                <th>{{ ref[0] }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ check[18] }}</td>

                                <td>{{ result[18] }}</td>

                                <td>{{ unit[18] }}</td>
                                <td>{{ ref[18] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[19] }}</td>

                                <td>{{ result[19] }}</td>

                                <td>{{ unit[19] }}</td>
                                <td>{{ ref[19] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[20] }}</td>

                                <td>{{ result[20] }}</td>

                                <td>{{ unit[20] }}</td>
                                <td>{{ ref[20] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[21] }}</td>

                                <td>{{ result[21] }}</td>

                                <td>{{ unit[21] }}</td>
                                <td>{{ ref[21] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[22] }}</td>

                                <td>{{ result[22] }}</td>

                                <td>{{ unit[22] }}</td>
                                <td>{{ ref[22] }}</td>
                            </tr>
                            <tr>
                                <td>{{ check[23] }}</td>

                                <td>{{ result[23] }}</td>

                                <td>{{ unit[23] }}</td>
                                <td>{{ ref[23] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <!-- Copyright -->
        <div class="copyright">&copy; OCR_LQBZ. Design: <a href="https://github.com/lincvic">LQBZ</a>.</div>

    </div>

</div>
<!-- Scripts -->
<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

</body>
</html>